
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  box-sizing: border-box;
}

:root {
  --font-primary: "Gloock", serif;
  --font-secondary: "Poppins", sans-serif;

  --color-primary: #1c0f0a; /* Mahogany Obsidian - Strength, Depth, Timelessness */
  --color-secondary: #e5903d; /* Temple Crown Gold - Prestige, Sacred Wealth */
  --color-accent: #a8323e; /* Kesar Vermilion - Rituals, Celebration, Power */
  --color-accent-2: #12492f; /* Rajya Pataka Teal - Honor, Stability, Prosperity */
  --color-accent-3: #2b5c8a; /* Grantha Indigo - Wisdom, Classical Art, Sacred Texts */
  --color-white: #f5e8d0; /* Parchment Ivory - Knowledge, Grace, Spiritual Purity */
  --color-black: #090806; /* Onyx Midnight - Mystery, Royal Intrigue */
  --color-grey-0: #261810; /* Dark Walnut - Palace Interiors, Ornate Woodwork */
  --color-grey-1: #3c2a1e; /* Antique Sandalwood - Sacred Firewood, Temple Gates */
  --color-grey-2: #644531; /* Burnished Copper - Metal Engravings, Sacred Lamps */
  --color-grey-3: #8a5b3e; /* Polished Bronze - Armor, Deity Adornments */
  --color-grey-4: #b77945; /* Kalinga Amber Gold - Festival Drapes, War Banners */
  --color-grey-5: #e0aa64; /* Chola Sun Gold - Luminous Glory, Eternal Divinity */
  --color-grey-6: #f2c77c; /* Rajyabhishek Gold - Coronation, Prestige, Honor */
}

.intro p {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

header {
  text-align: center;
  text-shadow: var(--color-accent-6);
}

.meaning {
  margin: auto;
  border-radius: 20px;
  padding: 12px;
  margin-top: 20px;
  background-color: var(--color-grey-0);
  display: flex;
  justify-content: space-around;
  flex: 1;
  text-align: center;
}

.noun {
}

.intro {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: fit-content;
  flex: 1;
}

.intro-text {
  flex-direction: column;
  flex: 1;
}

/* .adi-1 {
  height: fit-content;
  width: fit-content;
  max-width: auto;
  object-fit: contain;
  padding-top: 50px;
}

.image-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  border: 5px solid transparent;
  border-top: 5px solid var(--color-grey-6);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}
 */

footer {
  border-top: 2px solid var(--color-grey-2);
  border-radius: 5px 5px;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  bottom: 0;
  left: 0;
  margin-top: 10px;
}